<configuration>
    <packageSources>
        <add key="Official" value="https://api.nuget.org/v3/index.json" />
        <add key="Helium" value="https://nuget.pkg.github.com/helium-toolchain/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Helium>
            <add key="Username" value="ExaInsanity"/>
            <add key="ClearTextPassword" value="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"/>
        </Helium>
    </packageSourceCredentials>
</configuration>